{% extends "main/app_base.html" %}

{% block content %}
{%load static %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{current_clan.name}}</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="col-lg-12 mb-4">

      <!-- Illustrations -->
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab"
                role="tab" aria-controls="overview" aria-selected="true">Description</a></li>
            <li class="nav-item"><a class="nav-link" id="example-pill" href="#examplePill" data-toggle="tab" role="tab"
                aria-controls="example" aria-selected="false">Members</a></li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="cardPillContent">
            <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
              <h5 class="card-title">The Kopi Kakis Clan</h5>
              <p class="card-text">The Kopi Kakis community allows our members to pool funds for common spending goal, save up for a group vacation, or crowdfund our community goals. Various saving and spending wallets help to manage the community's finances. Lending wallets also allow individuals in the community to request for microloans from fellow members in times of need.
              </p>
            </div>
            <div class="tab-pane fade" id="examplePill" role="tabpanel" aria-labelledby="example-pill">
              <h5 class="card-title">Clan Members</h5>

              <!--               <img class="img-profile rounded-circle" src="{% static 'hbyong.jpg' %}">
              <img class="img-profile rounded-circle" src="{% static 'hbyong.jpg' %}"> -->

              <div class='row'>
                <div class='m-3'>
                  <img src="{% static 'hbyong.jpg' %}" class="img-fluid img-profile rounded-circle" alt="smaple image">
                  <p class="white-text text-center"> Hua Bing</p>
                </div>
                <div class='m-3'>
                  <img src="{% static 'gwoo.jpg' %}" class="img-fluid img-profile rounded-circle" alt="smaple image">
                  <p class="white-text text-center"> Gerald</p>
                </div>
                <div class='m-3'>
                  <img src="{% static 'weekiat.jpg' %}" class="img-fluid img-profile rounded-circle" alt="smaple image">
                  <p class="white-text text-center"> Wee Kiat</p>
                </div>
                <div class='m-3'>
                  <img src="{% static 'ryan.jpg' %}" class="img-fluid img-profile rounded-circle" alt="smaple image">
                  <p class="white-text text-center"> Ryan </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Clan Wallets</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    {% for c_wallet in clan_wallets %}

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-6 mb-4">
      <div class="card card-header-actions border-left-success shadow h-100 py-2">
        <div class=" card-header font-weight-bold text-success text-uppercase">
          <a href="#">{{c_wallet.name}}</a>

          <div class="dropdown no-caret float-right">
            <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="more-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">View Wallet Details</a>
              <a class="dropdown-item btn-success" href="javascript:void(0);" , type="button" data-toggle="modal"
                data-target="#editpermissionsexampleModalCenter">Edit Permissions</a>
              <a class="dropdown-item btn-success" href="javascript:void(0);" , type="button" data-toggle="modal"
                data-target="#editwalletexampleModalCenter">Edit Wallet</a>
            </div>
            <div class=" float-right">
              <button class="btn btn-success" type="button" data-toggle="modal" data-target="#topup-{{c_wallet.slug}}">
                Top Up </button>
              <button class="btn btn-success" type="button" data-toggle="modal" data-target="#withdrawModalCenter">
                Withdraw </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">

              <span class="badge badge-success">VISIBLE</span>
              <span class="badge badge-success">CAN DEPOSIT</span>
              <span class="badge badge-dark">CANNOT WITHDRAW</span>
              <div class="h5 mb-0 font-weight-bold text-gray-800">${{c_wallet.value}}</div>
              <!-- IF C WALLET HAS GOAL/LIMIT RENDER A PROGRESS BAR -->
              {% if c_wallet.have_target %}
              <div class="h5 mb-0 font-weight-bold text-gray-800 text-right">${{c_wallet.target}} (TARGET VALUE)</div>
              <div class="progress">
                <!-- calculate progress in backend? -->
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                  style="width: {{c_wallet.percent}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  <h7 class='text-right'>{{c_wallet.percent}} % </h7>
                </div>
              </div>
              {% endif %}

            </div>



            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Deposit Widget Modal-->
  <div class="modal fade" id="topup-{{c_wallet.slug}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Top Up into this Wallet</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ topup_clan_wallet.as_p }}
          <button name="submit-topup-clan-wallet-{{c_wallet.slug}}" formaction="{% url 'clanwallet' current_clan.slug c_wallet.slug %}" class="btn btn-success btn-user btn-block" type="submit">Top
            Up!</button>
        </form>
      </div>
    </div>
  </div>
  </div>
    {% endfor %}


    <button class="btn btn-success btn-block" type="button" data-toggle="modal"
      data-target="#clanWalletModalCenter">Create a new Clan wallet</button>


  </div>
  <br>
<!--   Community Lending -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Community Lending</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- will rereplaced with c_loan_wallets -->
    {% for c_wallet in clan_wallets %}

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-12 col-md-6 mb-4">
        <div class="card card-header-actions border-left-dark shadow h-100 py-2">
          <div class=" card-header">
            <a href="#"class="font-weight-bold text-dark text-uppercase">{{c_wallet.name}}</a> Lending to Gerald Woo | 
            <span class="badge badge-dark ">ACCRUING INTEREST</span>
            <span class="badge badge-success m-1">TRUSTED BORROWER</span>
            <div class="dropdown no-caret float-right">
              <div class=" float-right">
                <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#depositModalCenter">
                  Subscribe to Lending </button>
              </div>

            </div>

          </div>

          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="row">

                
                <div class="text-center  m-2"><p class="h4 mb-0 font-weight-bold text-center text-gray-800">4.0%</p><br>Annualized Interest Rate</div>
                <div class="text-center  m-2"><p class="h4 mb-0 font-weight-bold text-center text-gray-800">30 Days</p><br>Loan Duration</div>
                
              </div>

                <!-- IF C WALLET HAS GOAL/LIMIT RENDER A PROGRESS BAR -->

                <div class="h5 mb-0 font-weight-bold text-gray-800 text-right">$200.00/500.00 (FUNDING TARGET)</div>
                <div class="progress">
                  <!-- calculate progress in backend? -->
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><h7 class='text-right'>40 %  </h7></div>
                </div>
              </div>
            </div>

            <hr>
            Redeption Date: 2020-05-31 20:00:00
          </div>
        </div>
      </div>

    {% endfor %}


    <button class="btn btn-dark btn-block" type="button" data-toggle="modal"
      data-target="#newwalletexampleModalCenter">Create a Borrowing wallet</button>

  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Withdrawal Widget Modal-->
<div class="modal fade" id="withdrawModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Withdraw from this Wallet</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <button name="submit-withdraw-clan-wallet" class="btn btn-success btn-user btn-block"
            type="submit">Create!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Clan Wallet Modal -->
<div class="modal fade" id="clanWalletModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create a New Wallet</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ new_clan_wallet.as_p }}
          <button name="submit-new-clan-wallet" class="btn btn-success btn-user btn-block"
            type="submit">Create!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}